/* SCSS VARIABLES/INHERITANCE */

$bg-color: #252627;
$bg: #252627;
$txt: white;
$orange: #ff7900;
$purple: #6e2c94;
$blue: rgb(0, 216, 245); 
// $cyan: #0dbfd0;
$cyan: cyan;
$lgrey: #EEEEEE;
$grey: #9EA7B0; 

%mountain-parallax {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 2000px;
}

%tech-icon {
    opacity: 0;
    transition: 0.5s;
    font-size: 25px;
}

/* GLOBAL STYLES */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // max-width: 100vw; ///////
}

// html {
//     scroll-behavior: smooth;
// }

body {
    font-family: 'poppins', sans-serif;
    background-color: $bg;
} 

/* HEADER/PARALLAX SECTION */

header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: $bg;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    z-index: 99;
    transition: 1s linear;
}

.fixed-nav {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

    .nav-center>div>h3>a {
        color: black;
    }
}

.fixed-nav .scroll-link {
    color: black;
}

.fixed-nav .hamburger-menu {
    color: black;
}

// container
.nav-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 68rem;
    width: 78%;
    padding: 10px 0;
    margin: 0 auto;
}

.nav-header {
    display: flex;
    justify-content: space-between;

    .logo {

        a {
            color: #fff; 
            font-size: 1.1rem;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 600;
            letter-spacing: 2px;
        }

        &:hover {
            text-decoration: underline;
            }

        span {
            font-weight: 300;
        }
    }
}

.navbar-links {
    display: flex;
    overflow: hidden;
    transition: 1s linear;
    
    li {
        list-style: none;

        a {
        text-decoration: none;
        color: white;
        padding: 0 15px;
        }

        &:hover {
        text-decoration: underline;
        }
    }
}

.nav-toggle { 
    display: none;
    cursor: pointer;
    font-size: 25px;

    i {
        color: white;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.big-title {
    position: absolute;
    z-index: 30;
    line-height: 4rem;
    top: 33%;
    width: 100%;
    text-align: center;
    font-size: 5rem; 
    font-weight: 600;
    color: #fff;
}

.foreground {
    @extend %mountain-parallax;
    top: -5px;
    z-index: 20;
}

.middle-ground {
    @extend %mountain-parallax;
    top: -5px;
    z-index: 19;
}

.background {
    @extend %mountain-parallax;
    top: 0;
    z-index: 18;
}


.shadow {
    position: absolute;
    bottom: 0;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #252627, transparent);
}

/* ABOUT ME SECTION */

.about-section {
    height: 130vh;
    width: 100%;
    position: relative;
    margin: 0 auto;
    background-color: $bg;
    display: grid;
    grid-template-rows: 1fr 1fr;

    .my-border {
        position: relative;
        height: 800px;
        width: 800px;
        border: 10px solid $blue;
        border-radius: 25px;
        margin: auto;
        color: $txt;
        display: flex;
        justify-content: center;
        align-items: center;
        // PARALAX STYLING
        opacity: 0;
        transform: translateY(180px);
        transition: 0.8s ease-in-out;
    
        .border-effect1 {
            position: relative;
            height: 104%;
            width: 60%;
            background-color: $bg;
        }
        
        .border-effect2 {
            position: absolute;
            height: 60%;
            width: 104%;
            background-color: $bg;
        }
    
        h2 {
            position: absolute;
            top: 10%;
            font-size: 50px;
        }
    
        p {
            position: absolute;
            text-align: center;
            bottom: 10%;
            font-size: 37px;
            width: 80%;
    
            .wave {
                display: inline-block;
                animation-name: wave;
                animation-duration: 3s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
            
            @keyframes wave {
                0% {transform: rotate(0deg);}
                10% {transform: rotate(12deg);}
                20% {transform: rotate(-6deg);}
                30% {transform: rotate(12deg);}
                40% {transform: rotate(-6deg);}
                50% {transform: rotate(0deg);}
                100% {transform: rotate(0deg);}
            }
        }
    }

    // parallax class
    .my-border-appear {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* TECH STACK */

.tech-stack-section {
    width: 100%;
    height: 2000px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-content: space-evenly;

    h2 {
        color: $txt;
        text-align: center;
        font-size: 50px;
    }

    .tech {
        width: 700px;
        height: 600px;
        margin: 15vh auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        border-color: $blue;
        border-right-style: solid;
        border-left-style: solid;

        .circle {
            height: 90px;
            width: 90px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-size: 40px;
            color: white;        
            opacity: 0;
            transform: translateY(150px);
            transition: 0.8s ease-out; 

            
            &:hover div {
                opacity: 1;
            }
        }

        .circle>div {
            @extend %tech-icon;
        }

        .html {
            transform: translateY(300px);
        }
        .css {
            transform: translateY(300px);
        }
        .sass {
            transform: translateY(300px);
        }
        .js {
            transform: translateY(300px); 
        }
        .git {
            transform: translateY(300px);  
        }
        .github {
            transform: translateY(300px);  
        }
        .react {
            transform: translateY(300px); 
        }
        .node {
            transform: translateY(300px);  
        }
        .npm {
            transform: translateY(300px);  
        }
        .yarn {
            transform: translateY(300px);  
        }
        .firebase {
            transform: translateY(300px);  
        }
        .bootstrap {
            transform: translateY(300px);  
        }

        .tech-animate {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

.skills-container{
    height: 750px;
    width: 1250px;
    margin: auto;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 10px solid $blue;
    // PARALLAX STYLING
    opacity: 0;
    transform: translateY(150px);
    transition: 0.8s ease-in-out;   
    
    .border-effect3 {
        position: absolute;
        height: 104%;
        width: 70%;
        background-color: $bg;
    }
    
    .border-effect4 {
        position: absolute;
        height: 60%;
        width: 104%;
        background-color: $bg;
    }

    h3 {
        position: absolute;
        top: 5%;
        color: #fff;
        font-size: 40px;
    }

    .skills {
        width: 1000px;
        height: 500px;
        margin: auto;
        // background-color: #383838;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .circle-description {
            width: 400px;
            height: 90px;
            background-color: white;
            border-radius: 50px 50px;
            display: flex;
            align-items: center;
            z-index: 69;
            // PARALLAX STYLING
            opacity: 0;
            transform: translateX(-150px);
            transition: 0.8s ease-in-out; 
        }

        .skillsD-appear {
            opacity: 1;
            transform: translateY(0px);
        }

        .circleLg {
            background-image: linear-gradient($blue, cyan);
            height: 90px;
            width: 90px;
            margin-right: 5%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-size: 2em;
            color: white;

            &::after {
                content: '';
                position: absolute;
                height: 90px;
                width: 90px;
                border-radius: 50%;
                border: 20px solid;
            }
        }
        .circle-appear {
            opacity: 1;
            height: 90px;
            width: 90px;
        }
    }
}

.skills-appear {
    opacity: 1;
    transform: translateY(0px);
}

/* PROJECTS SECTION */

.projects-section {
    height: 1100px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    background-color: $bg;
    // PARALLAX STYLING
    opacity: 0;
    transform: translateY(250px);
    transition: 0.8s ease-in-out; 
}

.projects-appear {
    opacity: 1;
    transform: translateY(0px);
}

h2 {
    color: $txt;
    text-align: center;
    width: 100%;
    font-size: 50px;
    // position: absolute;
}

.projects-container {
    height: 1000px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.face{
    height: 250px;
    width: 400px;
    transition: 0.7s;
}

.face1 {
    height: 250px;
    position: relative;
    z-index: 4;
    transform: translateY(125px);
    opacity: 0.3;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.face2 {
    height: 250px;
    transform: translateY(-125px);
    position: relative;
    opacity: 0;
}

.card-txt {
    text-align: center;
    height: 150px;
    padding: 10px;

    h3 {
        text-decoration: underline;
        font-size: 25px;
        color: white;
    }

    h4 {
        text-decoration: underline;
        font-size: 20px;
        color: white;
    }

    p {
        color: $lgrey;
        font-size: 18px;
    }
}

.shift-reporter {
    p {
        font-size: 15px;
    }
}

.card-links {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    a {
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;

        i {
            opacity: 0.7;
            font-size: 40px;

            &:hover {
                font-size: 50px;
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}

.card:hover .face.face1{
    transform: translateY(0);
    opacity: 1;
}


.card:hover .face.face2{
    transform: translateY(0);
    opacity: 1;
    border: 2px solid $blue;
}


/* CONTACT SECTION */
.contact-section {
    height: 900px;
    max-height: 100vh;
    width: 100%;
    display: flex;
}

.contact-container {
    height: 450px;
    width: 1100px;
    margin: auto;
    color: $txt;
    display: flex;
    // border: solid 2px red;
    // PARALLAX STYLING
    opacity: 0;
    transform: translateY(150px);
    transition: 0.8s ease-in-out;  

    img {
        height: 450px;
        width: 450px;
        object-fit: cover;
        object-position: 50% 90%;
        border-radius: 50%;
        border: 2px solid $blue;
        margin-right: 100px;
        box-shadow: 10px 20px 50px black;
    }
}

// parallax class
.contact-appear {
    opacity: 1;
    transform: translateY(0px);
}

.details-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

    h3 {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
        font-size: 60px;
    
        span {
            font-size: 50px;
            font-weight: 300;
        }
    }

    .github {
        grid-column: 1;
        grid-row: 4;
        font-size: 40px;
        color: $txt;   
        background-image: linear-gradient($blue, $cyan);
        opacity: 0.7;
        height: 70px;
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        a {
            color: white;
        }
    
        &:hover {
            opacity: 1;
            font-size: 50px;
        }
    }
    
    .linkedin {
        grid-column: 2;
        grid-row: 4;
        font-size: 40px;
        background-image: linear-gradient($blue, $cyan);
        opacity: 0.7;
        height: 70px;
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
    
        a {
            color: white;
        }
    
        &:hover {
            opacity: 1;
            font-size: 50px;
        }
    }
}





// .wave {
//     display: inline-block;
//     animation-name: wave;
//     animation-duration: 3s;
//     animation-timing-function: linear;
//     animation-iteration-count: infinite;
// }

// @keyframes wave {
//     0% {transform: rotate(0deg);}
//     10% {transform: rotate(12deg);}
//     20% {transform: rotate(-6deg);}
//     30% {transform: rotate(12deg);}
//     40% {transform: rotate(-6deg);}
//     50% {transform: rotate(0deg);}
//     100% {transform: rotate(0deg);}
// }

